// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// body{
//     background-color: #ffcc00;

// }

.navbar{
    background-color: black;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.navbar-admin{
    padding: 10px 0;
}

.nav-item{
    a {
        margin: 0 10px;
        letter-spacing: 3px;
    }

    .login {
        border: 1.5px solid rgb(255, 204, 0);
        border-radius: 20px;
        color: white;
        
    }

    .signup {
        border-radius: 20px;
        background-color: rgb(226, 181, 0);
    }

    .logout{
        background-color: rgb(226, 181, 0);
        color: white;
        border-radius: 20px;

    }
}

.back-logo{
    width: 95px;
}

.spacing-form{
    min-height: 100vh;
    background-color: #ffcc00;
    padding-top: 5rem;
    padding-bottom: 2rem;    
    
}

.navbar-light .navbar-toggler{
    background-color: #ffcc00;
}

.sidebar {
    background-color: #000000f0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.left-navbar-admin{
    min-height: 100vh;
    margin-top: 30px;
    
    
}

.dropdown-menu-guest{
    background-color: black;
    position: absolute;
    top: 60px;
    left: -2px;
    right: -1px;
    display: block;

    li{
        color: white;
    }
}

@media (min-width: 992px){
    .navbar-expand-md .navbar-toggler {
        display: none; 
   }

}


