// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// body{
//     background-color: #ffcc00;

// }

.navbar{
    background-color: black;
}

.navbar-admin{
    padding: 20px 0;
}

.nav-item{
    a {
        margin: 0 10px;
        letter-spacing: 3px;
    }

    .login {
        border: 1.5px solid rgb(255, 204, 0);
        border-radius: 20px;
        color: white;
        
    }

    .signup {
        border-radius: 20px;
        background-color: rgb(226, 181, 0);
    }

    .logout{
        background-color: rgb(226, 181, 0);
        color: white;
        border-radius: 20px;

    }
}

.back-logo{
    width: 35%;
}

.spacing-form{
    min-height: 100vh;
    background-color: #ffcc00;
    padding-top: 2rem;
    padding-bottom: 2rem;    
    
}

.navbar-light .navbar-toggler{
    background-color: #ffcc00;
}

.left-navbar-admin{
    min-height: 100vh;
}